/* Aplçica ao quadro principal*/
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Estilo do quadro (caixa branca com sombra) */
.caixa-contador {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0,0, 1);
  text-align: center;
}

/*Título*/
.caixa-contador h1 {
  font-size:  2rem;
  margin-bottom: 20px;
}

/* Botão e contorno*/
.botao-contador {
  padding: 12px 24px;
  font-size: 1.2rem;
  border: 2px solid #007bff;
  background-color: #f0f0f0;
  color: #007bff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.botao-contador:hover{
  background-color: #007bff;
  color: white;
}
